@import './variables';
@import './nav';
@import './responsive';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


li{
    display:inline-block;
}

a{
    text-decoration: none;
}

.color{
    color:$color2;
}

.container{
    position: relative;
}

.container__title{
    color: $color1;
    background-color: $color5;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    height:70px;
    max-width: 70%;
    letter-spacing: 3px;
    font-size:30px;
    margin:200px auto 50px;
}

.container__btn-hero{
    color:$color4;
    width: 15%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid $color4;
    font-weight: $font-weight2;
    display: block;
    margin:auto;
    letter-spacing: 2px;
}

.container__btn-hero:hover{
    background-color: rgba(0,0,0,0.3);
    color:purple;
    border-color:purple;
}